.container{
  display: grid;
  /*autofill crea columnas si hay espacio disponible y cunado la pantalla es mas pequeña al llegar su tamaño minimo envia abajo a la caja*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-auto-rows: 200px;
  gap: 2rem;
  block-size: 100vh;
  max-inline-size: 1020px;
  margin: auto;
  grid-auto-flow: row;
  /* dense hace que los demas elementos se acomoden dentro del grid */
  /* grid-auto-flow: column dense; */
  border: 5px solid blue;
  /* alineaciones */
  /* align-items: ; */
  align-content: center;

  /* justify-items: ; */
  /*space between around tambien se puede aplicar*/
  /* justify-content: ; */

  /* version resumida */
  /* place-items: ; */
  /* place-content: ; */
}

.item{
  border: 5px solid red;
  /*contador css*/
  counter-increment: item;

  font-size: 3rem;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-self: ; */
  /* justify-self: ; */

  /* place-self: ; */
}

/*para el contador*/
.item::before{
  content: counter(item);
}

.item:nth-child(4){
  border-color: purple;

}


.item:nth-child(3){
  border-color: green;

}
