<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Homero web site</title>
</head>
<body>
  <div class="grid">
    <img class="mouth" src="./img/boca.gif" alt="">
    <img src="./img/campana.gif" alt="" class="bell">
    <img src="./img/dios.gif" alt="" class="god">
    <img src="./img/gusano.gif" alt="" class="worm">
    <img src="./img/reloj.gif" alt="" class="clock">
    <img src="./img/tostadora.gif" alt="" class="toaster">
  </div>
</body>
</html>